<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <!-- ============================== -->
    <!-- Appenders                      -->
    <!-- ============================== -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %p [%t][%c{1}] %m%n" />
            <!-- param name="ConversionPattern" value="%d{ABSOLUTE} %p [%t][%c{1}] %m%n" / -->
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="TRACE" />
			<param name="LevelMax" value="INFO" />
        </filter>
    </appender>
    <appender name="STDERR" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.err" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %p [%t][%c.%M] %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="LevelMin" value="WARN" />
			<param name="LevelMax" value="FATAL" />
        </filter>
    </appender>

    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/log/client-${instance}.log" />
        <param name="append" value="true" />
        <param name="threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ABSOLUTE} %p [%t][%c{1}] %m%n" />
        </layout>
    </appender>

    <appender name="ASYNC" class="org.apache.log4j.AsyncAppender">
        <param name="BufferSize" value="500"/>
        <param name="Blocking" value="false"/>
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="STDERR"/>
        <!-- appender-ref ref="FILE"/ -->
    </appender>

    <!-- ============================== -->
    <!-- Noisy Loggers                  -->
    <!-- ============================== -->
    <logger name="org.springframework">
        <level value="WARN" />
    </logger>

    <!-- ============================== -->
    <!-- Detail loggers                 -->
    <!-- ============================== -->
    <logger name="net.a_cappella.presto.ps.SnSHandler">
        <level value="INFO" />
    </logger>
    <logger name="net.a_cappella.presto.ps.SnSManager">
        <level value="INFO" />
    </logger>
    <logger name="net.a_cappella.presto.ps.sql.WhereNode">
        <level value="DEBUG" />
    </logger>


    <logger name="net.a_cappella.net.a_cappella.presto.ps.AeronDaemon">
        <level value="INFO" />
    </logger>
    <logger name="net.a_cappella.presto.ps.AeronClient">
        <level value="INFO" />
    </logger>

    <logger name="net.a_cappella.continuo.utils.tightloop.TightLoopThread">
        <level value="DEBUG" />
    </logger>

    <logger name="net.a_cappella.presto.socket.BaseClientPipe">
        <level value="INFO" />
    </logger>
    <logger name="net.a_cappella.presto.socket.BaseServerSink">
        <level value="INFO" />
    </logger>

    <logger name="net.a_cappella.presto.ft.collective.CollectiveClient">
        <level value="INFO" />
    </logger>
    <logger name="net.a_cappella.presto.ft.collective.CollectiveMember">
        <level value="INFO" />
    </logger>
    <logger name="net.a_cappella.presto.ft.FtManager">
        <level value="DEBUG" />
    </logger>

    <!-- ============================== -->
    <!-- Root logger                    -->
    <!-- ============================== -->
    <root>
        <level value="INFO" />
        <appender-ref ref="ASYNC" />
    </root>
</log4j:configuration>
